

:root {
    --primary: #fe2c55;
    --background: #fff;
    --back-primary: #bc1ce4;
    --color-primary: #fffa1f;
    --color-nomal: #fff;

    //Default Layout
    --default-header-height: 150px;
    --default-width: 900px;
}

html {
    font-size: 62.5%;
}

